
html, body {
      height: 100vh;
      margin: 0;
      padding: 0;
    }

h1 {
  position: fixed; /* fixa o elemento na tela, mesmo se rolar */
  top: 50%;        /* posiciona no meio vertical */
  left: 50%;       /* posiciona no meio horizontal */
  transform: translate(-50%, -50%); /* centraliza exatamente */
  z-index: 10;     /* fica na frente das divs */
  margin: 0;
  padding: 0;
  font-size: 10rem;
  pointer-events: none;
  color: aliceblue;

}

#container-stripes {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.stripe {
  flex: 1; /* divide igualmente */
  width: 100%;
  transition: filter 0.2s;
}

.stripe:hover {
  filter: brightness(1.2);
 
}